html {
    background-color: #29334a;
    color: lightgrey;
}
#app {
    margin: auto;
    font-family: Helvetica;
}

.topControls {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.controlElement {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.searchBox {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    border: 2px solid rgb(60, 132, 150);
    border-radius: 5px;
}

.dropdown {
    display: inline-block;
    font-size:13px;
    padding: .4em 1em .4em .8em;
    color: lightgrey;
    background-color: #3a4869;
    border: 1px solid rgb(60, 132, 150);
    border-radius: .5em;
}



.columnHeader {
    display: block;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(71, 161, 131);
    color: black;
}

.greenButton {
	background: #72b352;
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
    padding:6px 12px;
    margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

.greenButton:active {
	position:relative;
	top:1px;
}


.redButton {
	background-color:#ed2626;
	border-radius:4px;
	border:1px solid #e02020;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
    padding:6px 12px;
    margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e61717;
}
.redButton:active {
	position:relative;
	top:1px;
}

.bugs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fish {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.critter {
    display: inline-block;
    border: 2px solid black;
    width: 165px;
    padding: 10px;
    margin:2px;
    border-radius: 5px;
    font-size: 14px;
}
.datebox {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    text-align: center;
    border: 2px solid black;
    color: black;
    width: 160px;
    border-radius: 5px;
}

.datebox > span {
    border: 1px solid black;
}

.availability-date {
    background: lightcoral;
    padding: 5px;
}

.available {
    background: lightgreen;
}

.availability-time {
    display: flex;
}

