#app {
    margin: auto;
    font-family: Helvetica;
}



.greenButton {
	background: #72b352;
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
    padding:6px 12px;
    margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

.greenButton:active {
	position:relative;
	top:1px;
}


.redButton {
	background-color:#ed2626;
	border-radius:4px;
	border:1px solid #e02020;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
    padding:6px 12px;
    margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e61717;
}
.redButton:active {
	position:relative;
	top:1px;
}

.bugs {
    /*
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    */
    display: flex;
    flex-flow: row wrap;
}

.fish {
    /*
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    */
    display: flex;
    flex-flow: row wrap;
}

.critter {
    display: inline-block;
    border: 2px solid black;
    width: 180px;
    padding: 10px;
    margin:10px;
    border-radius: 5px;
}
.datebox {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    text-align: center;
    border: 2px solid black;
    width: 160px;
    border-radius: 5px;
}

.datebox > span {
    border: 1px solid black;
}

.availability-date {
    background: lightcoral;
    padding: 5px;
}

.available {
    background: lightgreen;
}

.availability-time {
    display: flex;
}

