<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/styles.css" />
  <title>ACNH Bugs and Fish</title>
  <script src="js/moment.js"></script>
  <script src="js/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Animal Crossing: New Horizons Bugs and Fish</h1>
    <h3>Click/tap the name of the bug or fish to mark it as collected</h3>
    <div class="topControls">
      <span class="controlElement">Current time: </span><span
        style="font-weight:bold; font-family:'Courier New', Courier, monospace">{{ currentTime.format("HH:mm:ss") }}</span>
      <button v-on:click="autoTimeButton"
        v-bind:class="{greenButton: autoTimeChecked, redButton: !autoTimeChecked}">Automatic time:
        {{ autoTimeChecked ? "On" : "Off" }}</button>
      <div class="controlElement">
        <span v-if="!autoTimeChecked">Select time:</span>
        <select class="dropdown" v-model="selectedTime" v-if="!autoTimeChecked">
          <option v-for="hour in 24" :value="hour-1">{{ ('0' + (hour-1)).slice(-2) }}:00</option>
        </select>
      </div>
      <div class="controlElement">Change month:
        <select class="dropdown" v-model="currentMonth">
          <option v-for="(month, index) in months" :value="index">{{ month }}</option>
        </select>
      </div>
      <div class="controlElement">
        <button v-on:click="changeFishFlag" v-bind:class="{greenButton: fishChecked, redButton: !fishChecked}">
          {{ showOrHideFishText }}
        </button>
        <button v-on:click="changeBugsFlag" v-bind:class="{greenButton: bugsChecked, redButton: !bugsChecked}">
          {{ showOrHideBugsText }}
        </button>
      </div>
      <div class="controlElement">
        <button v-on:click="changeMonthFlag" v-bind:class="{greenButton: monthChecked, redButton: !monthChecked}">
          Filter by month: {{ monthChecked ? "On" : "Off" }}
        </button>
        <button v-on:click="changeHourFlag" v-bind:class="{greenButton: hourChecked, redButton: !hourChecked}">
          Filter by hour: {{ hourChecked ? "On" : "Off" }}
        </button>
      </div>
      <div class="controlElement">
        <button v-on:click="changeHemisphere" class="greenButton">
          {{ hemisphereButtonText }}
        </button>
      </div>
      <div class="controlElement">
        <button v-on:click="changeCollectedChecked"
          v-bind:class="{greenButton: collectedChecked, redButton: !collectedChecked}">
          Show Collected: {{ collectedChecked ? "On" : "Off" }}
        </button>
      </div>
      <div class="controlElement">
        <input class="searchBox" type="text" placeholder="Search by name" v-model="search" />
      </div>
    </div>
    <div class="bugsandfish">
      <div class="columnHeader" v-if="fishChecked">Fish</div>
      <div class="fish" v-if="fishChecked">

        <critter v-for="fish in fishes" v-bind:key="fish.Name" :critter="fish" :months="months"
          :current-Month="currentMonth" :current-time="Number(currentTime.format('HH'))"
          :hemisphere="selectedHemisphere" :search="formatSearch" :month-Checked="monthChecked"
          :hour-Checked="hourChecked" :collected-checked="collectedChecked" :is-fish="true"
          :collected="getCollected(fish.Name)" v-on:save-collected="saveCollected(fish.Name)">
        </critter>
      </div>
      <div class="columnHeader" v-if="bugsChecked">Bugs</div>
      <div class="bugs" v-if="bugsChecked">

        <critter v-for="bug in bugs" v-bind:key="bug.Name" :critter="bug" :months="months" :current-Month="currentMonth"
          :current-time="Number(currentTime.format('HH'))" :hemisphere="selectedHemisphere" :search="formatSearch"
          :month-Checked="monthChecked" :hour-Checked="hourChecked" :is-fish="false" :collected="getCollected(bug.Name)"
          v-on:save-collected="saveCollected(bug.Name)">
        </critter>
      </div>
    </div>
  </div>

  <script src="components/critter.js"></script>

  <script src="js/index.js"></script>
</body>

</html>