<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/styles.css" />
  <title>ACNH Bugs and Fish</title>
  <script src="js/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>WIP Bugs and fish viewer</h1>
    Currently shows what bugs and fish are available locally to you, right
    now<br />
    Hemisphere:
    <select v-model.number="selectedHemisphere">
      <option selected value="0">Northern</option>
      <option value="1">Southern</option>
    </select>
    <br />
    Change month:
    <select class="picker" v-model="currentMonth">
      <option v-for="(month, index) in months" :value="index">{{ month }}</option>
    </select>
    Change time:
    <br />Search:
    <input v-model="search" />

    <div class="bugsandfish">
      <div class="bugs">
        <bug v-for="bug in bugs" v-bind:key="bug.Bug" :bug="bug" :months="months" :current-Month="currentMonth"
          :hemisphere="selectedHemisphere" :search="formatSearch">
        </bug>
      </div>
      <div class="fish">
        <fish v-for="fish in fishes" v-bind:key="fish.Fish" :fish="fish" :months="months" :current-Month="currentMonth"
          :hemisphere="selectedHemisphere" :search="formatSearch">
        </fish>
      </div>
    </div>
  </div>
  <script src="components/bug.js"></script>
  <script src="components/fish.js"></script>

  <script src="js/index.js"></script>
</body>

</html>